<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить студента</title>
    <link rel="stylesheet" href="/css/addAddSG.css">
</head>
<body>
<div class="container">
    <h1>Добавить студента</h1>
    <form th:action="@{/add-student}" method="post">
        <div>
            <label>Имя:</label>
            <input type="text" name="firstName" placeholder="Введите имя" required>
        </div>
        <div>
            <label>Фамилия:</label>
            <input type="text" name="lastName" placeholder="Введите фамилию" required>
        </div>
        <div>
            <label>Группа:</label>
            <select name="groupId" required> <!-- Изменено с "group" на "groupId" -->
                <option value="" disabled selected>Выберите группу</option>
                <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn">Сохранить</button>
    </form>

    <a href="/manage" class="btn back-btn">Назад</a>

</div>
</body>
</html>
