<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Attendance</title>
</head>
<body>
<h1>Attendance for Group: <span th:text="${group.name}"></span></h1>

<table border="1">
    <thead>
    <tr>
        <th>Student Name</th>
        <th>Date</th>
        <th>Status</th>
    </tr>
        </thead>
        <tbody>
    <tr th:each="el : ${attendances}">
        <td th:text="${el.student}"></td>
        <td th:text="${el.date}"></td>
        <td th:text="${el.status}"></td>
    </tr>

    </tbody>
</table>

<a href="/groups">Back to Groups</a>
</body>
</html>
