<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Attendance</title>
    <link rel="stylesheet" href="/css/attendance.css">
</head>
<body>
<div class="container">
    <h1>Attendance for Group: <span th:text="${group.name}"></span></h1>

    <table class="attendance-table">
        <thead>
        <tr>
            <th>Имя Студента</th>
            <th>Фамилия Студента</th>
            <th>Дата</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${attendances}">
            <td th:text="${el.student.firstName}"></td>
            <td th:text="${el.student.lastName}"></td>
            <td th:text="${el.date}"></td>
            <td th:text="${el.getStatusInRussian}"></td>
        </tr>
        </tbody>
    </table>

    <a href="/groups" class="back-link">← Back to Groups</a>
</div>
</body>
</html>
