<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выбор групп</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/group.css">
</head>
<body>

<nav class="navbar">
    <div class="container">
        <h1 class="logo">Accounting<span class="accent">+</span></h1>
    </div>
</nav>

<div th:each="el : ${groups}" class="tasks-container">
        <a th:href="'/check/'+ ${el.id}" class="btn btn-warning">
            <p th:text="${el.name}" class="task-name"></p>
        </a>
</div>

</body>
</html>