<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учёт посещаемости</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <h1 class="logo">Accounting<span class="accent">+</span></h1>
    </div>
</nav>

<main class="main-content">
    <section class="section check-attendance">
        <div class="content">
            <h2>Управление студентами</h2>
            <a href="/manage" class="btn btn-check">Проверить</a>
        </div>
    </section>
    <section class="section mark-attendance">
        <div class="content">
            <h2>Отметить посещаемость</h2>
            <a href="/check" class="btn btn-mark">перейти</a>
        </div>
    </section>
</main>
</body>
</html>
